%h1 Configuration Confirmation
%p 
  Congratulations you have created your configuration namespace
%p
  Now you will be able to read and write your configuration to a central service for management.
%hr
%input{:type => "text", :name => "key", :value => @access_key }