%form{:method => "post", :action => "/register"}
  %label{:for => "name"} Name
  %input{:type => "text", :name => "name"}
  
  %label{:for => "openid"} Open ID
  %input{:type => "text", :name => "openid"}
  
  %hr
  %input{:type => "submit", :value => "Register Configuration"}